* {
    box-sizing:border-box;
    margin:0%;
    padding:0%;
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: darkgray;
    color: black;
    margin:1%;
    padding:1%;
    
}

u {
    color: whitesmoke;
}

p {
    font-size: 25px;
    padding: 2%;
}

@media screen and (max-width: 992px) {
    body {
      background-color: black;
      color: white;
      margin:1%;
      padding:1%;
    }
    u {
        color: red;
    }
    p {
        font-size: 20px;
        padding: 2%;
    }
  }  

  @media screen and (max-width: 600px) {
    body {
      background-color: white;
      color: rgb(152, 152, 152);
      margin:1%;
      padding:1%;
    }
    u {
        color: lightblue;
    }
    p {
        font-size: 18px;
        padding: 2%;
    }
  }

h1 {
    text-align: center;
    padding-top: 2%;
    margin:1%;
    padding:1%;
}

a:hover {
    color: red;
}