body {
    background-color:rgb(21, 124, 28);
    font-family:serif;
}


h1 {
    font-size: 6vw;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5vw 0vw 0vw 0vw;

}

h2 {
    font-size: 3vw;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0vw 0vw 3vw 0vw;

}

h3 {
    font-size: 5vh;
    color: rgb(156, 133, 0);

}

h4 {
    text-align: center;

}

div {
    margin: 0vw auto;
    font-family: serif;
    width: 90vw;
    padding: 1vw 3vw 3vw 3vw;

}

.m1 {
    float: left;
    width: 300px;
    background-color: peachpuff;
}

.m2 {
    float: right;
    width: 20%;
    background-color: peachpuff;
}

.m3 {
    float: left;
    width: 10%;
    background-color: peachpuff;
}

.m4 {
    float: right;
    width: 10%;
    background-color: peachpuff;
}

.m5 {
    float: right;
    width: 30%;
    background-color: peachpuff;
}


.text-box {
    font-size: 30px;
    padding: 1vw 1vw 1vw 1vw;
    background-color: peachpuff;
    position: absolute; 
    left: 5%;
    font-family: serif;
}


p {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-family: serif;
}

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: sans-serif;
}


